# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

In [2]:
# covered yesterday

##### Using 'and' in if statements

In [3]:
# covered yesterday

##### Using both 'or' and 'and' in if statements

In [4]:
# covered yesterday

### String Manipulation

In [6]:
my_string = "Kevin and Tony hold hands and frolic through the flowers!"
my_string.title()

'Kevin And Tony Hold Hands And Frolic Through The Flowers!'

In [7]:
my_string.lower()

'kevin and tony hold hands and frolic through the flowers!'

In [146]:
my_string.capitalize()

'Hello   alll     you    guys i hope you are having a great da!'

In [147]:
my_string.upper()

'HELLO   ALLL     YOU    GUYS I HOPE YOU ARE HAVING A GREAT DA!'

In [148]:
my_string = my_string.title()
my_string

'Hello   Alll     You    Guys I Hope You Are Having A Great Da!'

##### .lstrip()

In [149]:
name = "                   caleb"#removes space from left
# string.lstrip()
name.lstrip()

name.lstrip("    ca")
#name.lstrip("ca") #incorrect way of typing

'leb'

##### .rstrip()

In [150]:
name = "caleb                 "#removes space from right
# string.rstrip()
name.rstrip()
name.rstrip( "eb    ")

'cal'

##### .strip()

In [151]:
name = "             caleb                 "
# string.strip()
name.strip()
name.strip("  cb")

'ale'

##### .title()

In [8]:
# string.title()

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [41]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
names_list= []
for name in names:
    names_list.append(name.strip().title())
print(names_list)

['Connor', 'Max', 'Evan', 'Jordan']

In [42]:
### Split <br>

In [43]:
my_string = "Hello   alll     you    guys I hope you are having a great da!"
list_of_words = my_string.split()
print(list_of_words)

['Hello', 'alll', 'you', 'guys', 'I', 'hope', 'you', 'are', 'having', 'a', 'great', 'da!']

In [45]:
my_string = "Hello   alll     you    guys I hope you are having a great da!"
list_of_words = my_string.split("  ")
print(list_of_words)

['Hello', ' alll', '', ' you', '', 'guys I hope you are having a great da!']

In [48]:
my_string = "Hello   alll     you    guys I hope you are having a great da!"
list_of_words = my_string.split(",  ")
print(list_of_words)

['Hello   alll     you    guys I hope you are having a great da!']

In [49]:
" * ".join(list_of_words)

'Hello   alll     you    guys I hope you are having a great da!'

### Working With Lists

##### min()

In [152]:
# min(list)
my_list = (88, 65 , 67, 34, 59, 102, 300)
min(my_list)

34

In [145]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

##### max()

In [153]:
# max(list)
max(my_list)

300

##### sum()

In [143]:
# sum(list)
sum(my_list)

715

##### sorted()

In [45]:
my_list = (88, 65 , 67, 34, 59, 102, 300)

# sorted(list)
# returns a copy of the array in sorted order

print(sorted(my_list))
my_list =sorted(my_list)
print(my_list)

[34, 59, 65, 67, 88, 102, 300]
[34, 59, 65, 67, 88, 102, 300]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [78]:
my_list = (88, 65 , 67, 34, 59, 102, 300)
# list.sort()
print(my_list)
#print (my_list.sort(reverse = True))
print (my_list)

AttributeError: 'tuple' object has no attribute 'sort'

##### Copying a List

In [14]:
# [:] copies a list, doesn't alter original
my_list1 = [1,2,3,4]
my_list2 =

##### 'in' keyword

##### 'not in' keyword

##### Checking an Empty List

In [62]:
my_list = [""]
if my_list:
    print("I have a list")
else:
    print("I dont have a list")

 Ihave a list

##### Removing Instances with a Loop

In [15]:
# while, remove

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [138]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

def fixed_list(a_list):
    new_list = [*set(a_list)]
    return new_list

fixed_list(names)

[2, 3, 4, 'bob', 'evan', 'kevin', 'max', 'connor']

In [139]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

for name in names:
    while names.count(name)>1:
        names.remove(name)
print(names)

TypeError: 'list' object is not callable

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [104]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [103]:
my_class = ["perry", "marco", "caleb", "lizette", "tony","gulfem" ]

new_list = [ ]
for person in my_class:
       new_list.append(person)

print(new_list)

TypeError: 'list' object is not callable

In [101]:
new_list_comp =[person[0] for person in my_class]
new_list_comp

['p', 'm', 'c', 'l', 't', 'g']

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [18]:
my_class = ['cedric', 'perry', 'marco', 'caleb', 'lizette', 'campos', 'gulfem', 'cindy']
new_list = [ ]
for person in my_class:
    if person [0].lower( ) == "c":
        new_list.append(person)
    
print( new_list )

['cedric', 'caleb', 'campos', 'cindy']

In [19]:
new_list = [person for person in my_class if person[0], lower() == 'c']
new_list

SyntaxError: invalid syntax (4090231169.py, line 1)

In [17]:
my_class = ['cedric', 'perry', 'marco', 'caleb', 'lizette', 'campos', 'gulfem', 'cindy']
new_list = []
for person in my_class:
        if person [0].lower( ) == "c":
            new_list.append(person)
        else: 
            new_list.append("Not a C name")
print(new_list)

['cedric', 'Not a C name', 'Not a C name', 'caleb', 'Not a C name', 'campos', 'Not a C name', 'cindy']

In [127]:
# Ex.............

# given a list (my_list) use a list comprehension to give me the 
# last letter of each word lowercased
my_list=['Levi','Axel','Carmelo','Yakov','Katie','Alec','Angelo','David','Trace']
new_list = [person[-1] for person in my_list]
new_list

['i', 'l', 'o', 'v', 'e', 'c', 'o', 'd', 'e']

In [15]:
# pull out 5 letter names... if the name is not five letter add in Not a five letter namemy_class=['Grady', 'Dara', 'Scarlett', 'Patrick', 'Ku', 'Frank', 'Aydee']
# pull out 5 letter names... if the name is not five letter add in Not a five letter name
my_class=['Grady', 'Dara', 'Scarlett', 'Patrick', 'Ku', 'Frank', 'Aydee']
new_list = [ ]
for person in my_class:
        if len(person)== 5:
            new_list.append(person)
        else: 
            new_list.append("Not a five-letter name")
print(new_list)

['Grady', 'Not a five-letter name', 'Not a five-letter name', 'Not a five-letter name', 'Not a five-letter name', 'Frank', 'Aydee']

In [16]:
new_list = [person if len(person) == 5 else "Not a 5." for person in my_class]
print(new_list)

['Grady', 'Not a 5.', 'Not a 5.', 'Not a 5.', 'Not a 5.', 'Frank', 'Aydee']

In [13]:
my_tup = ("Marcus", "Perry", "Caleb", "Diana")
print(my_tup)

('Marcus', 'Perry', 'Caleb', 'Diana')

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [12]:
#basically a list
#immutable, like a string
my_tup = (1,2,3)
print(type(my_tup))

<class 'tuple'>

In [10]:
my_tup = 1,2,3
print(type(my_tup))

<class 'tuple'>

##### sorted()

In [11]:
sorted_tup = sorted(my_tup)
print(tuple(sorted_tup))

(1, 2, 3)

In [ ]:
my_tup[2] = "john"
#not funcitonal can't change tuple

In [164]:
new_tup = [1,2,3, ["A", "B", "C", 4]]
                    #0#1#2   #3                #4
                                        #0#1#2
new_tup[3]
new_tup[3][1] = "Y" #can't change tuple, but here we are in the list
                                      #in the tuple: 3 marks the location of the list
                                      #:1 marks the second letter in the list
new_tup

[1, 2, 3, ['A', 'Y', 'C', 4]]

##### Adding values to a Tuple

In [165]:
#Reconstruct the tuple and add values
my_tup = ('jack', 'jim', 'johnny', 'jose')
my_tup = my_tup + ('captain morgan', 'sailor jerry', 'mr.jameson')
my_tup

('jack',
 'jim',
 'johnny',
 'jose',
 'captain morgan',
 'sailor jerry',
 'mr.jameson')

## Functions

##### User-Defined vs. Built-In Functions

In [8]:
def say_hello():
    print("hello")
    print("say hello to my little friend")

say_hello()
print(say_hello())

hello
say hello to my little friend
hello
say hello to my little friend
None

In [7]:
def add():
    return 5+3
print (add())
print(type[add])

print("I ran add")

8
type[__main__.add]
I ran add

In [20]:
print(add()+2)

10

##### Accepting Parameters

In [5]:
# Order matters
# A variable can be any type of object
def print_full_name(f,l,m):
    print(f" {f} {m} {l} ")
print_full_name ("James", "Herbert", "Bond")

 James Bond Herbert

##### Default Parameters

In [4]:
def print_full_name(f, l, m = "monroe"):
    print(f"{f} {m} {l}")

print_full_name("james", "bond", "herbert")

james herbert bond

In [3]:
print("hello", end = "****")

hello****

##### Making an Argument Optional

##### Keyword Arguments

# Creating a start, stop, step function

##### Returning Values

##### *args && **kwargs

In [2]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents
def my_func(name, *args):
    print(name)
    print(type(args))
    for arg in args:
        print(arg)
        print(type(arg))

my_func("Kevin", 123.3,[1,2,3,], "I am super cool")

Kevin
<class 'tuple'>
123.3
<class 'float'>
[1, 2, 3]
<class 'list'>
I am super cool
<class 'str'>

##### Docstring

##### Using a User Function in a Loop

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [1]:

first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def combined_name(fn, ln):
    new_list = []
    for num in range(len(fn)):
        full_name = fn[num] + " " + ln[num]
        new_list.append(full_name)
    return new_list
    
combined_name(first_name, last_name)
# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [21]:
#placement of variable declaration matters
#python: name spaces
LEBG 
local 
enclosing 
global 
built-in

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [16]:
# Use the following list - [1,11,14,5,8,9]
num_list = [1, 11, 14, 5, 8, 9]
new_list = [] #made an empty list first

def num_sub_10(  ):#defining my function name'num_sub_10 as an empty functoin first with( )
      
    for x in num_list: # here I am targeting the values (x) of the first set
        if  x <10:
            new_list.append(x)
    return new_list#can't have a print line here b/c it would print none in second print\
                                        #if wanting a list, do not return single variable, but complete list
                                        #not x instead name_list
                                        #MY ISSUE: I left the return function in the if statement and not as its own function
                                        #REMEMBER INDENTATION MATTERS
            
(num_sub_10()) #have to remember to include the ( ) here, bud.

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [28]:
list1 = ["tangerine", "apple","cantaloupe","fig"]
list2 = ["boogers", "sweat", "doodoo"]

#first we make a function (name)
def list_merge():
    list1.extend(list2)
    list1.sort()
    return list1
print(list_merge())
# we define our function(steps /if else/ range/etc)
#we have to grab our separate lists 
#grab one list and add it to the other

['apple', 'boogers', 'cantaloupe', 'doodoo', 'fig', 'sweat', 'tangerine']